{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings%}        
        <ul>
            <a href="{% url 'listing' listing.id %}">
                <li>
                    Title: {{ listing.Title}} <br>
                    Description: {{ listing.Description}} <br>
                    Category: {{ listing.Category}} <br>
                    Starting Bid: {{ listing.Starting_Bid}} <br>
                    <img src="{{ listing.Image }}">
            </a>        
                    <br><br>
                    
                    {% if listing.Auction_closed == True and user == listing.listing_winner %}

                            <p> You have won this Auction.</p>
                      

                    {% elif listing.Auction_closed == False %}
                                              
                        <form action="{% url 'bid_placed' listing.id %}" method="post">
                            {% csrf_token %}
                            Place a bid: <input type="number" name="bid_amount">
                            <input type="submit" value="Bid">
                        </form>
                
                    {% else %}
                            The Auction has been Closed.
                
                    {% endif %}
                </li>
                
            
        </ul> 
    {% endfor %}    
   


<br>
        


{% endblock %}